.App {
  text-align: center;
}

.links li{
  color:rgb(226, 213, 213);
  margin: 20px;
  display: flex;
  align-content: center;

    display: inline;
  
}

.Navbar.Brand {
  width: 80px;
}
.basic-navbar-nav{padding-top: -150px;}
.navig{
  height:100px;
   background-color:#055c4e ;}
   
   .Brand{size: 16px;
       color :#055c4e;
   }
  .text {
    width: 272px;
    height: 17px;
   }
   .text-size{
    font-family: "Times New Roman", Times, serif;
    width: 100%;
   }
